<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpg" %>
  </div>
 
  <div id="content">
    <h1>Hola, Soy Arturo Alfaro</h1>
    <p>Estoy siguiendo el desafio de las 12 app en doce semanas de Mackenzis.</p>
    <p>T Estas semana, estare contruyendo este blog en Rails 4.</p>

    <p> Si gustas, puedes seguirme en Twitter <a href="https://twitter.com/00Satjeet">@00Satjeet</a> o visita la pagina <a href="https://natas.cl">Pasteleria Natas.</a></p>
  </div>
</div>